div{
	width: 130px;
	height:140px;
	border: red solid 1px;
	background-color:#F6CECE;
	text-align: center;
	padding-top:1em;
	font-size: 2em;
	position:relative;
	top:-10px;
	left:40px;
	
}


#hand{
	background-color: lightgrey;
	margin-top:300px;
	font-size: 2em;
	
}


#ablage{
	position:absolute;
	top: 100px;
	left: 400px;
	font-size: 2em;
	background-color: white;
}